* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* .imageURL { */
/* width: 40%; */
/* height: 100%; */
/* min-width: 40%; */
/* max-width: 100%; */
/* } */

/* .Section1_Wrapper { */
/* display: flex; */
/* padding: 60px 20px; */
/* align-items: center; */
/* justify-content: space-around; */
/* } */

/* .sec1_text p:nth-child(1) { */
/* color: #808080; */
/* width: 85%; */
/* } */

/* .sec1_text p:nth-child(2) { */
/* margin: 30px 0; */
/* width: 85%; */
/* } */

/* .sec1_text p:nth-child(3) { */
/* color: #808080; */
/* margin: 30px 0; */
/* width: 85%; */
/* } */

/* .sec1_text {
  width: 40%;
  text-align: right;
} */

/* Deepseak */

/* .Section1_Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageURL {
  width: 100%; 
  height: auto;
}

.sec1_text {
  text-align: center;
  margin-top: 20px;
}


@media (max-width: 768px) {
  .Section1_Wrapper {
    flex-direction: column; 
  }

  .imageURL {
    width: 100%;
  }

  .sec1_text {
    width: 100%;
    padding: 0 10px;
  }
} */


/* Better code from DeapSkeak */